
.background-img {
    //--background: url(../../assets/chat.jpg);
    --background:rgb(151, 151, 151);
}

.placeholder-text {
    --placeholder-color:rgb(251, 251, 251);
    text-align: center;
}

.ion-background-color {
    --ion-background-color:rgba(146, 146, 146, 0);
}

.opacity-complete {
    --ion-disabled-opacity: 0;
}

.background-color {
    --background:rgb(151, 151, 151);
    --color:rgba(255, 255, 255, 0.514);
}

.t-color {
    --color:rgba(255, 255, 255, 0.514);
}