<ion-content class="background-img">
	<section class="full-width" style="height: 50%;">
		<ion-button expand="full" class="bt-stile" color="yamil" (click)="add()">
			<img src="assets/mas.png" width="auto" height="100" alt="">
		</ion-button>
		<ion-button expand="full" class="bt-stile" color="yamil" (click)="galery()">
			<img src="assets/galeria.png" width="auto" height="100" alt="">
		</ion-button>
		<ion-button expand="full" class="bt-stile" color="yamil" (click)="graphics()">
			<img src="assets/grafico.png" width="auto" height="100" alt="">
		</ion-button>
		<ion-button expand="full" class="bt-stile" color="yamil" (click)="list()">
			<img src="assets/lista.png" width="auto" height="100" alt="">
		</ion-button>
	</section>
</ion-content>